---
import Contact from "@components/Contact/Contact.astro";
import PortfolioImage from "@components/PorfolioImage/PortfolioImage.astro";
import PortfolioGrid from "@components/Portfolio/PortfolioGrid.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "./BaseLayout.astro";

interface Props {
	portfolio: CollectionEntry<"portfolios">;
}



const { portfolio } = Astro.props as Props;
const { title, description, heroImage } = portfolio.data;

// find other portfolios to show later down the page
const otherPortfolios = await getCollection("portfolios", (otherPortfolio) => {
	// filter out draft pages
	return otherPortfolio.data.draft !== true && otherPortfolio.id !== portfolio.id;
});
---

<BaseLayout
	type="general"
	title={title}
	description={description}
	heroImage={heroImage}
	navStartStyle="white"
>
	<div class="relative h-[40svh] w-full overflow-hidden md:h-[60svh]">
		<div class="absolute inset-0 z-10 bg-black/30"></div>

		<Image
		src={heroImage}
		alt={`Header for ${title}`}
		class="absolute inset-0 h-auto min-h-full w-full min-w-full object-cover md:hidden"
		width={600}
		densities={[1.5, 2]}
		loading="eager"
		/>
		<Image
		src={heroImage}
		alt={`Header for ${title}`}
		class="absolute inset-0 hidden h-auto min-h-full w-full min-w-full object-cover md:block"
		width={1920}
		densities={[1.5, 2]}
		loading="eager"
		/>

	</div>

	<article class="mx-auto mt-12 px-4 md:mt-20 md:max-w-6xl">
		<h1 class="h1 description mt-4 text-center uppercase">
			{title}
		</h1>


		<!-- slot really only fuctions as a longer description -->
		<div class="description mt-6 text-center text-pretty md:text-lg">
			<slot />
		</div>

	
	</article>

	<section class="mx-auto mt-12 px-4 md:mt-16 md:max-w-5xl">
		<h3 class="h2 text-center">More Routes</h3>
		<PortfolioGrid portfolios={otherPortfolios} noTransitions />
	</section>
	<Contact class="mt-12" />
</BaseLayout>
